<div id="graph_creation" class="main-container">
    <div id="createGraph">
      <h2>Enter New Graph information</h2>
    <%= form_for(@graph, remote:true, :html=>{:class=>"form-inline"}) do |g| -%>
        <div class='form-label'>Label for column: </div><%= g.text_field :name %><br/><br/>
        <div class='form-label'>Search criteria:  </div><%= g.text_field :search %><br/>
        <%= g.submit("Add to graph") %>
    <% end -%>
    </div>
    <% products = [["Luminate Online", "Luminate%20Online"], ["Luminate CRM", "Luminate%20CRM"], ["BBCRM Integration", "BBCRM%20Integration"]] %>
    <div id="bugSearch">
    <%= form_tag("/metrics", remote: true, :id=>"graph_form", :class=>"form-inline") do %>
        Product: <%= select_tag(:product, options_for_select(products)) %> <br><br>
        Start Date <%= date_select(:start_date, "start", {:discard_day => true}, {:class => 'date-select'} ) %>
        End Date <%= date_select(:end_date, "end", {:discard_day => true}, {:class => 'date-select'} ) %><br><br>
        <%= submit_tag("Run Graph", :id => "graph_submit") %>
    <% end %>
    </div>
    <div id='loader' style="display:none"><%= image_tag 'ajax-loader.gif'%></div>
</div>
<hr/>

<div class="container-fluid secondary-container">
  <h1>Current Graph</h1> <br/>
  <ul id="currentGraphsBorder">
    <% if !@graphs.empty? %>
        <%= render @graphs %>
    <% else %>
        No graphs have been added
    <% end %>
  </ul>
</div>
<div id="graph">
  <% unless @bugzilla_bugs_by_date.empty? %>
    Total time to graph: <%= @total_time %><br>
    <%= (high_chart('bar_graph', @bar_graph)) -%><br>
    <%= (high_chart('line_graph', @line_graph)) -%>
  <% end %>
</div>








