

<div id="currentGraphs" class="container-fluid">
  <h1>Current Graph</h1> <br/>
  <ul id="currentGraphsBorder">
    <% if !@graphs.empty? %>
        <%= render @graphs %>
    <% else %>
        No graphs have been added
    <% end %>
  </ul>
</div>
<div id="createGraph">
  <h2>Enter New Graph information</h2>
<%= form_for(@graph, remote:true) do |g| -%>
    Graph Name: <%= g.text_field :name %><br />
    Search: <%= g.text_field :search %><br />
    Search Summary <%= g.check_box :in_summary %><-- DOES NOT WORK<br />
    <%= g.submit("Add graph") %>
<% end -%>
</div>
<% products = [["Luminate Online", "Luminate%20Online"], ["Luminate CRM", "Luminate%20CRM"], ["BBCRM Integration", "BBCRM%20Integration"]] %>
<div id="bugSearch">
<%= form_tag("/", remote: true) do %>
    Product: <%= select_tag(:product, options_for_select(products)) %> <br>
    Start Date <%= date_select(:start_date, "start", :discard_day => true) %> <br>
    End Date <%= date_select(:end_date, "end", :discard_day => true) %><br>
    <%= submit_tag("Run Graph") %>
<% end %>
</div>
<div id="graph">
<% if @graph_query %>
    Total time to graph: <%= @total_time %><br>
    <%= (high_chart('bar_graph', @bar_graph)) -%><br>
    <%= (high_chart('line_graph', @line_graph)) -%>
<% end %>
</div>








