<!DOCTYPE html>
<html>
<head>
  <title>BugsMetric</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "loader" %>
  <%= csrf_meta_tags %>
</head>
<body id="background">
    <%= render 'layouts/header' %>
    <div id="Main">
        <%= yield %>
    </div>
</body>
</html>
